*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    /* background-image: linear-gradient(to right bottom, #4b17da, #18055b, 
    #140551, #110448, #0f013f); */
    background-image: radial-gradient(circle, #005ce7, #0071f1, #0084f8, 
    #0096fc, #1fa8ff);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
nav{
    box-shadow: 10px 7px 15px black;
}
header{
    color: whitesmoke;
    background-image: linear-gradient(to right top, #1e0074, #180267,
    #13035a, #10034d, #0e0041);
    margin-bottom: 10px;
}
header h1{
    font-size: 30px;
    padding: 10px 15px 10px 50px;
}

.logo img{
    position: absolute;
    top: 20vh;
    left: 50vw;
    width: 30%;
    margin: auto;
    pointer-events: none;
}

table{
    top: 11vh;
}