*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-image: radial-gradient(circle, #005ce7, #0071f1, #0084f8, 
    #0096fc, #1fa8ff);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
nav{
    box-shadow: 10px 7px 15px black; 
}
nav h1{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
nav h1 span{
    word-spacing: 10px;
    margin-left: 10px;
}
.dropDown{
    color: white;
    position: relative;
    display: inline-flex;
}
.dropDownContent{
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    text-align: center;
}
.dropDownContent a{
    text-decoration: none;
    color: black;
    font-weight:bold;
    display: block;
}
.dropDownContent a:hover{
    background-color: rgba(228, 218, 218, 0.5);
    border-radius: 5px;
}
.dropDown:hover .dropDownContent{
    margin: 50px 0px 0px 10px;
    display: block;
    background-color: rgba(228, 218, 218, 0.5);
    border-radius: 5px;
    box-shadow: 10px 7px 15px black;
}
.cont{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
main{
    margin: 70px 200px;
    position: relative; 
}
main .profile{
    position: relative;
    background-color: rgba(245, 235, 235, 0.5);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    margin-top: 20px;
    box-shadow: 10px 7px 15px black;
}
table{
    width: 100%;
}
th, td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
.profilePicture{
    position: relative;
    padding: 20px 60px;
    align-content: center;
    border-bottom: 1px solid black;
}
input:first-child{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
    margin-right: 15px;
}
input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 42px;
    width: 90px;
}
.changePass{
    position: relative;
    padding: 10px 10px;
    align-content: center;
}
.changePass form{
    text-align: center;
}
.changePass{
    display: none;
}
.showHide{
    position: relative;
    padding: 20px 20px 0px 20px;
    align-content: center;
    text-align: center;
    display: inline-flex;
    transform: translate(25%, 5%);
}
.hide{
    display: none;
}
.formcon{
    width: 150px;
    height: 42px;
}
.formcon input{
    width: 150px;
    border: none;
}
.profile img{
    height: 200px;
    width: 200px;
}
.profilecol{
    position: relative;
    margin-top: 20px;
}