*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-image: radial-gradient(circle, #005ce7, #0071f1, #0084f8, 
    #0096fc, #1fa8ff);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
nav{
    box-shadow: 10px 7px 15px black;
}
nav h1{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
nav h1 span{
    word-spacing: 10px;
    margin-left: 10px;
}
.dropDown{
    color: white;
    position: relative;
    display: inline-flex;
}
.dropDown img{
    width: 60px;
}
.dropDownContent{
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    text-align: center;
}
.dropDownContent a{
    text-decoration: none;
    color: black;
    font-weight:bold;
    display: block;
}
.dropDownContent a:hover{
    background-color: rgba(228, 218, 218, 0.5);
    border-radius: 5px;
}
.dropDown:hover .dropDownContent{
    margin: 50px 0px 0px 10px;
    display: block;
    background-color: rgba(228, 218, 218, 0.5);
    border-radius: 5px;
    box-shadow: 10px 7px 15px black;
}
main .create{ 
    display: absolute;
    width: 200px; 
    background-color: rgba(228, 218, 218, 0.5);
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 43%;
    text-align: center;
    box-shadow: 10px 7px 15px black; 
}
.create form input {
    padding: 15px;
}
.create form{
    text-align: center;
}
.create form:hover {
    background-color: rgba(228, 218, 218, 0.5);
    border-radius: 5px;
}